@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-SemiBold.woff') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-Bold.woff') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: "Livvic",sans-serif;
    background-color: #014E56;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px !important;
}
.site-header{
    padding: 73px 0 129px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo-wrapper{
    display: flex;
    gap: 80px;
    justify-content: space-between;
    align-items:center;
}
.site-header-list {
    display: flex;
    gap: 40px;
    transition: all 0.4s;
}
.site-header-list a:hover{
     color:#F67E7E ;
}
.site-header-list-item{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    color: white;
}
.header-btn{
    padding: 0;
    margin: 0;
}
.site-header-contact{
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0px;
    color: white;
    padding: 9px 33px 11px 32px;
    border-radius: 24px; 
    border: 2px solid white;
    transition: all 0.4s;
}
.site-header-contact:hover{
    background-color: #F67E7E;
    color: black;
    border: #004047;
}
.site-header-contact:active{
    background-color: white;
    color: black;
}
.header-btn{
    border: none;
    background-color: transparent;
    display: none;
}
/* header tablet start*/
@media (max-width:768px){
    .site-header{
        padding: 64px 0px 112px;
    }
    .header-img{
        width: 127px;
        height: 32px;
    }
    .header-logo-wrapper{
        gap: 40px;
    }
}
/* header tablet end  */
/* header mobile start  */
@media (max-width:583px){
    .site-header{
        padding: 48px 0 80px;
    }
    .site-headers{
        padding: 0;
        margin: 0;
    }
    .site-header-list,.site-header-contact{
        display: none;
    }
    .header-btn{
        display: block;
    }
   
}
 /* header mobile end  */
.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding-bottom: 250px; 
     background-image: url(../images/Group\ 7.svg);
     background-repeat: no-repeat ;
     background-size: 350px 100px;
     background-position: right bottom;
     padding-bottom: 250px !important;
}
.section{
    background-image: url(../images/orqa-fon.svg);
    background-repeat: no-repeat ,no-repeat;
    background-size: 350px 200px;
    background-position: calc(50% - 750px)top
}
.hero-section-title{
    max-width:600px; 
}
.hero-section-title > h2{
    font-weight: 700;
    font-size: 100px;
    line-height: 120px;
    letter-spacing: 0px;
    color: white;
}
.tailend{
    color: #F67E7E;
}
.hero-line{
    max-width: 50px;
    height: 4px;
    background-color: #79C8C7;
    display: block;
    margin-bottom: 83px;
}
.hero-title-pr{
   max-width: 445px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    color: white;
    
}
.hero-section-build{
    background-color: #012F34;
    padding: 140px 0;
    display: flex;
    gap:125px;
}
.hero-line-span{
    width: 50px;
    height: 4px;
    background-color: #F67E7E;
    display: inline-block;
    margin-bottom: 54px;
}
@media (max-width:583px){
    .hero-section{
        display: flex;
       flex-direction: column;
        align-items: center;
    }
    .hero-section-title{
        text-align: center;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 0px;
        margin: 0 auto;  
        margin-bottom: 18px;
    }
    .hero-line{
        display: none;
    }
    .hero-title-pr{
        margin-bottom: 17px !important;
        font-weight: 600;
        font-size: 15px;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: center; 
    }
    .hero-section{
        background-position:center bottom;
    }
}
/* hero-section table start  */
@media (max-width:768px) {
    .hero-section-title > h2{
        margin-bottom: 0px;
    }
    .hero-title-pr{
        margin-bottom: 0px;
    }
    .hero-section{
        flex-direction: column;
        text-align: center;
        background-position: center bottom;
    }
    .hero-line{
        display: none;
    }
    .hero-section-title > h2{
        font-size: 64px;
        line-height: 56px;
        letter-spacing: 0px;
    }
    .hero-title-pr{
        margin-top: 24px;
        font-size: 15px;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: center;
    }
}
 /* hero-section table end  */

 /* hero-section mobile start  */
 @media (max-width:583px){ 
    .hero-section{
        display: flex;
       flex-direction: column;
        align-items: center;
    }
    .hero-section-title{
        text-align: center;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 0px;
        margin: 0 auto;  
        margin-bottom: 18px;
    }
    .hero-line{
        display: none;
    }
    .hero-title-pr{
        margin-bottom: 200px;
        font-weight: 600;
        font-size: 15px;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: center; 
    }
    .hero-section{
        background-position:center bottom;
    }
} 
/* hero-section mobile end  */

.build{
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.hero-section-build{
    background-color: #012F34;
    padding: 140px 0;
    display: flex;
    gap:125px;
    background-image: url(../images/8.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100px 244px;
}
.build-title{
    width: 445px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0px;
    color: white;
}
.hero-section-images{
    display: flex;
    flex-direction: column;
     margin-top: 58px; 
     gap: 32px;
}
.hero-section-images h3{
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0px;
    color: #F67E7E;
    margin-bottom: 16px;
}
.hero-section-images p{
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: white;  
    opacity: 80%; 
}
.hero-section-list{
     display: flex; 
     width: 540px; 
    align-items: start;
    gap: 23px;
}
.hero-section-t{
    display: flex;
}
/* build-section tablet start  */
@media(max-width:768px) {
    .hero-section-build{
        padding: 100px 0px 100px;
        background-position: right top;
    }
    .build{
        flex-direction: column;
    }
    .build-title{
        margin-top: 32px;
        margin-bottom: 64px;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: 0px;
        
    }
}
 /* build-section tablet end  */

 /* build-section mobile start  */
 @media (max-width:583px) {
    .hero-section-build{
        padding: 64px 0px 64px;
    }
    .build{
        flex-direction: column;
    }
    .hero-line-span{
        margin: 0px;
    }
    .build-title{
        max-width: 70%;
        margin-top: 32px;
        margin-bottom: 64px;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: 0px;  
    }
    .hero-section-list{
        flex-direction: column;
        align-items: center;
        /* width: 100%; */
         /* max-width: 327px; */
         width: 100%;
         text-align: center; 
        margin: 0 auto;
       
    }
    .hero-section-list > img{
        margin: 0 auto;
    }
 }
 /* build-section mobile end  */

.hero-section-second{
    background-color: #004047;
    padding: 140px 0;
    text-align: center;
    background-image: url(../images/rasm4.svg),url(../images/orqa-rasm.svg);
    background-repeat: no-repeat,no-repeat;
    background-position: left top,right bottom;
}
.hero-section-second-image{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
}
.hero-section-second h2{
    max-width: 830px;
    font-weight: 700;
    font-size: 43px;
    line-height: 48px;
    letter-spacing: 0px;
    color: white;
    margin: 0 auto;
}
.hero-section-second-title{
    max-width: 350px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: white;
    margin-top: 92px;
    
}
.hero-section-second-title h3{
     margin-top: 24px; 
    color: #79C8C7;
}
.hero-section-second-title-p{
    font-weight: 500;
    font-style: italic;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 2px;
    margin-bottom: 32px;
}
.p{
    background-image: url(../images/qoshtirnoq.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 67px 56px;
}
.succes{
    color:#79C8C7 ;
}
.hero-section-second-title-amazing{
    max-width: 350px;
}
.hero-section-second-title-amazing img{
    margin-top: 8px;
}
@media (max-width:768px) {
    .hero-section-second{
        padding: 100px 0px;
    }
    .div-h2{
        max-width: 573px;
        margin: 0 auto;
        margin-bottom: 48px;
    }
    .hero-section-second-h2{
        font-size: 32px;
        line-height: 32px;
        letter-spacing: 0px;
        max-width: 573px;
    }
    .hero-section-second-title{
        margin: 0px;
    }
    .hero-section-second-image{
        flex-direction: column;
        gap: 48px;
    }
    .hero-section-second-title{
        max-width:573px;
    }
    .hero-section-second-title-p{
        margin-bottom: 16px;
    }
    .hero-section-second-title h3{
        margin-top: 16px;
    }
}
@media (max-width:583px) {
    .hero-section-second{
        padding: 140px 0px 164px;
    }
    .div-h2{
        max-width: 327px;
        margin: 0 auto;
        margin-bottom: 48px;
    }
    .hero-section-second-h2{
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: center;
        max-width: 327px;
    }
    .hero-section-second-title{
        max-width:327px;
    }
} 
.hero-third-section{
    background-color:#F67E7E;
    background-image: url(../images/qizil-rasm.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
}
.hero-third-container{
    max-width: 917px;
    display: flex;
    justify-content: space-between;
     padding: 76px 0; 
     margin: 0 auto;
}
.hero-third-container h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0px;
}
.hero-third-container a{
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0px;
    color: black;
    padding: 9px 33px 11px 32px;
    border-radius: 24px; 
    border: 2px solid black;
    transition: all 0.4s;
}
.hero-third-container a:hover{
    background-color: white;
    color: black;
    border: white;
}
.hero-third-container a:active{
    border: 3px solid black;
}
 
/* hero-third-section table start  */
@media (max-width:768px){
    .hero-third-container{
        padding: 84px 0px;
        max-width: 573px;
        align-items: center;
    }
    .hero-third-container h2{
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: 0px; 
        margin-bottom: 8px;
    }
    .hero-third-container a{
        margin-bottom: 6px;
    }
}
 /* hero-third-section table end  */

  /* hero-third-section mobile start  */
  @media (max-width:583px){
    .hero-third-container{
        padding: 83px 0px;
        max-width: 327px;
        flex-direction: column;
        gap:24px;
        margin-right: auto;
    }
    .hero-third-container h2{
        text-align: center;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: 0px; 
        margin-bottom: 8px;
    }
    .hero-third-container a{
        margin-bottom: 6px;
    }
}
   /* hero-third-section mobile end  */

 /* @media (max-width:768px){
    .hero-footer{
        max-width: 689px;
        padding: 56px 40px;
        position: relative;
    }
    .footer-img-1{
        max-width: 96px;
        max-height: 24px;
    }
    .footer-img{
        display: none;
    }
    .footer-myteam-and-home{
        display: flex;
        flex-direction: column;
    }
    .footer-a{
        margin-top: 53px;
        margin-bottom: 33px;
        display: flex;
        align-items: center;
        gap: 24px;
    }
    .footer-item{
        margin-right: 0px;
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0px;
    }
    .footer-img-2{
        display: flex;
        flex-direction: row;
        gap:16px;
    }
    .footer-img-2 a{
        color: white;
        transition: all 0.4s;
    }
    .footer-text{
        display: none;
    }
    .footer-title{
        max-width: 280px;
        position: absolute;
        right: 40px;
        top: 23px;
    }
    .footer-title-p{
        display: block;
        position: absolute;
        right: 40px;
        bottom: 56px;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0px;
        margin-top: 30px;
        opacity: 60%;
    }
}
@media (max-width:583px){
    /* .hero-footer-container{
        display: flex;
    } */



 .hero-footer{
    background-color: #002529;
    padding: 48px 0px;
}
.footer-displey{
    display: flex;
    /* align-items: end; */
    justify-content: space-between;
}
.hero-footer-container{
    display: flex;
     color: white; 
}
.footer-item{
    color: white;
    margin-right: 40px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    transition: all 0.4s;
} 
.footer-item:hover{
    color: #F67E7E;
}
.footer-title{
    max-width: 445px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    opacity: 60%;
    color: white;
}
.footer-img{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 16px;
    margin-bottom: 80px;
    margin-top: 20px;
}
.footer-img a,.footer-img-2 a{
    color: white;
    transition: all 0.4s;
}
.footer-img a:hover ,.footer-img-2 a:hover{
    color: #F67E7E;
}
.footer-img-2{
    display: none;
}
.footer-title-p{
    display: none;
}
.footer-text{
    color: white;
    opacity: 60%;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: right;
} 
.footer-title-1{
    display: none;
}
.footer-title-p-1{
    display: none;
}
.img-text{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

@media(max-width:768px) {
    .footer-title-p-1{
        display: none;
    }
    .hero-footer{
        padding: 56px 40px;
    }
    .footer-displey{
       align-items: start;
    }
    .footer-img-1{
        max-width: 97px;
        height: 24px;
    }
    .footer-a{
        display: flex;
        gap: 24px;
        margin-top: 53px;
    }
    .footer-item{
        display: block;
        max-width: 11px;
    }
    .footer-item{
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0px; 
    }
    .footer-img-2{
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
    .footer-img{
        display: none;
    }
    .hero-footer-container{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    .footer-title{
        max-width: 280px;
        text-align: right;  
      
    }
    .footer-title-p{
        display: block;
    }
    .footer-text{
        display: none;
    }
    .footer-title-p{
        margin-top: 32px;
    }
}
@media (max-width:583px){
    .hero-footer-container{
        display: flex;
        margin:0 auto;
        justify-content: center;
    }
    .hero-footer{
        padding: 66px 24px;
    }
    .footer-displey{
       flex-direction: column;
       max-width: 327px;
      
     } 
    .footer-img-1{
        max-width: 97px;
        height: 24px;
    } 
   .footer-a{
        width: 107px;
        display: flex;
        margin: 0 auto;     
        margin-top: 24px;
    } 
    .footer-item{
        display: block;
        width: 6px;
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0px; 
    } 
     .footer-img-2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    } 
    .footer-img{
        display: none;
    }
    .footer-myteam-and-home{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-title-1{
        display: block;
        max-width: 280px;
        text-align: center; 
        margin: 0 auto; 
        opacity: 60%;
    }
    .footer-title{
        display: none;
    }
    .footer-title-p{
        display: none;
    }
    .footer-title-p-1{
        display: block;
        margin-top: 0px;
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0px;
        text-align: center;
        opacity: 60%;
    }
    .footer-text{
        display: none;
    }
}